{% block style %}
<link rel="stylesheet" href="{{ static_url }}assets/font-awesome.css">
<link rel="stylesheet" href="{{ static_url }}assets/puti.css">
{% endblock %}

{% block script %}
<script src="{{ static_url }}assets/font.js"></script>
{% endblock%}

{% block body %}
<div class="site">
{% if not features.head_html %}
  {% include "./_head.j2" %}
{% endif %}
{% set items = query.latest_subjects('post', contains=['content','tags']) %}
{% if items %}
  <div class="main">
    {% include "./_logs.j2" %}
    <div class="navigation">
      <a class="read_more" href="{{ linkify(site.posts_url) }}">Read more posts</a>
    </div>
  </div>
{% endif %}
</div>
{% include "./_foot.j2" %}
{% endblock %}
