{% from "macros.j2" import render_subject_content, render_subject_license, render_subject_authors %}

{% block style %}
<link rel="stylesheet" href="{{ static_url }}assets/font-awesome.css">
<link rel="stylesheet" href="{{ static_url }}assets/puti.css">
<link rel="stylesheet" href="{{ static_url }}assets/content.css">
{% endblock %}

{% block script %}
<script src="{{ static_url }}assets/font.js"></script>
{% endblock%}

{% block body %}
<div class="site">
{% if not features.head_html %}
  {% include "./_head.j2" %}
{% endif %}
  <div class="main">
    <article role="main" class="h-entry {{ page.type }}" itemscope itemtype="http://schema.org/Article">
      <h1 class="p-name" itemprop="headline"><a href="{{ linkify(page.url) }}">{{ page.title }}</a></h1>
      {% if page.subtitle %}
        <h2 class="p-summary">{{ page.subtitle }}</h2>
      {% endif %}
      <time class="published" datetime="{{ page.published_at|xmldatetime }}" itemprop="datePublished">{{ page.published_at.strftime("%Y-%m-%d") }}</time>
      <div class="e-content js-content {{ page.format }}" itemprop="articleBody">
        {{ render_subject_content(site, page) }}
      </div>
      <div class="item_meta">
      {% if page.tags %}
        <span class="item_tags">
          <i class="fa fa-flask"></i>
          {% for tag in page.tags %}
            <a href="{{ linkify(tag.url) }}">{{ tag.title }}</a>
          {% endfor %}
        </span>
      {% endif %}
      </div>
    </article>
    <div class="entry-foot">
      <section class="entry-block">
        {% include "_snippets/subject_share.j2" %}
      </section>
      {% if page.type != 'page' %}
        {{ render_subject_license(site, page) }}
      {% endif %}
      {% if features.comment and page.comment != 'disabled' %}
        <section class="entry-section comment">
          <div class="inner">
            {% if site.disqus %}
              <div id="disqus_thread" data-shortname="{{ site.disqus }}"></div>
            {% else %}
              <div id="comment_thread"></div>
            {% endif %}
          </div>
        </section>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
