:root {
  --cjk-sans: "source-han-sans-simplified-c", "PingFang SC", "Hiragino Sans GB", "PingHei", "Open Sans", "Work Sans", "Microsoft YaHei", "SimSun";
  --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
  --primary-hex: #333;
  --secondary-hex: #424242;
  --tertiary-hex: #5f5f5f;
  --tertiary-hex: #5f5f5f;
  --quaternary-hex: #a6a6a6;
  --background-hex: #f7f7f7;
  --meta-hex: #bbbbbb;
  --black-hex: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  font: 16px/2em var(--cjk-sans), var(--sys-sans), sans-serif;
  color: var(--primary-hex);
  background-color: var(--background-hex);
  width: 100%;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: currentColor;
  opacity: 1;
  transition: all 0.15s linear;
}

.site {
  background: #fff;
  margin: 60px auto 0;
  width: 820px;
  box-shadow: 0px 10px 20px 0px rgb(236 236 236 / 86%);
}
.site_head, .main {
  width: 720px;
  margin: 0 auto;
}
.site_head {
  padding: 100px 0px 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.site_logo {
  margin-right: 10px;
  min-width: 100px;
}
.site_logo h1 {
  margin: 0;
}
.site_logo img {
  width: 100px;
}
.site_description {
  margin: 0;
  line-height: 1.9em;
  font-size: 0.875em;
  text-align: right;
  color: var(--secondary-hex);
  font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB',
  'Microsoft YaHei', var(--sys-sans), sans-serif;

}
.site_social {
  color: var(--tertiary-hex);
  text-align: right;
  margin: 5px 0px;
}
.site_social a:hover {
  color: var(--black-hex);
}
.site_social a + a {
  margin-left: 10px;
}
.main {
  padding: 0px 20px;
  height: auto;
}
.item {
  margin-top: 50px;
}
.item_wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 12px;
}
.item_image {
  flex-shrink: 0;
  display: flex;
  margin-right: 20px;
}
.item_image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.item_info h2 {
  padding-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
  line-height: 1;
  font-weight: 600;
  margin: 0px 0px 6px 0px;
  color: var(--primary-hex);
}
.item_info a {
  letter-spacing: 1px;
  line-height: 28px;
}
.item_summary {
  line-height: 2em;
  letter-spacing: 0.2px;
}
.item_meta {
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #F3F3F3;
  max-width: 100%;
  height: 25px;
  color: var(--meta-hex);
  font-size: 0.6875em;
}
.item_tags {
  margin-left: 10px;
  color: currentColor;
}
.item_tags a:hover {
  color: var(--primary-hex);
}
.item_tags a + a {
  margin-left: 6px;
}
.navigation {
  padding: 30px 0 40px 0;
  border-bottom: 1px solid #f2f2f2;
  color: var(--tertiary-hex);
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}
.navigation a:hover {
  color: var(--primary-hex);
}
.read_more {
  text-align: right;
  flex-grow: 1;
}
.site_foot {
  font-size: 0.75em;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  padding: 60px 0px;
}
.site_nav a {
  color: var(--quaternary-hex);
  margin: 0px 12px;
}
.site_foot a:hover {
  color: var(--primary-hex);
}
.power_by {
  margin: 0;
  color: var(--meta-hex);
  padding-top: 10px;
  font-size: 0.6875rem;
}
@media (min-width: 1600px) {
  .site {
    width: 1000px;
  }
  .site_head, .main {
    width: 820px;
  }
}

@media screen and (max-width: 900px){
  .site {
    width: 95%;
    margin-top: 20px;
  }
  .site_head, .main {
    width: 92%;
  }
}
